/* estilo boton enviar */
header {
  background-image: url("../images/header_contacto.png");
}

h1{
    text-align: center;
}

#btn-enviar {
  background-color: #527329;
}

.titulo-formulario {
  margin-top: 50px;
  color: #7c5e15;
  /* margin-left: 370px; */
  font-size: 12px;
}

.separador-texto-titulo {
  width: 13%;
  margin-left: 43.5%;
}

.formulario {
  /* margin-left: 32%; */
  color: #7c5e15;
  padding: 10px;
  /* new changes */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.form-style{
  grid-column: 2/4;
}

textarea {
  resize: vertical;
  max-height: 250px;
}

label {
  font-size: 15px;
  font-weight: bold;
}
input,
textarea {
  width: 64%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 0;
  color: white;
}

textarea{
  color: black;
}

.titulo-mapa {
  color: #7c5e15;
  margin-left: auto;
  margin-top: 40px;
  font-size: 12px;
}
.separador-mapa {
  width: 13%;
  margin-left: 43.5%;
}
