/* estilo boton enviar */

#btn-enviar {
    background-color: #527329;
}

.titulo-formulario {
    margin-top: 50px;
    color: #7C5E15;
    margin-left: 370px;
    font-size: 12px;
}

.separador-texto-titulo{
    width: 13%;
    margin-left: 370px;
}

.formulario {
    margin-left: 370px;
    color: #7C5E15;
    padding: 10px;
}
textarea {
    resize: vertical;
    max-height: 250px;
}

label {
    font-size: 15px;
    font-weight: bold;
    
}
input, textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 0;
    color: white;

}


.titulo-mapa{
    color: #7c5e15;
    margin-left: 370px;
    margin-top: 40px;
    font-size: 12px;
}
.separador-mapa{
    width: 13%;
    margin-left: 370px;
}