header {
  background-image: url("../images/header_nosotros.png");
}

.container-body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.left {
  text-align: start;
}

.margin-right .p-section{
  margin-left: 2%;
}

.fab {
  font-size: 0.9em;
}

.social-media a {
  text-decoration: none;
  letter-spacing: initial;
}

.img-content {
  width: 100%;
  height: 100%x;
}

.margin-bottom {
  margin-bottom: 10%;
}
